<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <h1>Account List</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for lst in list %}
                        <tr>
                            <td>{{ lst.name }}</td>
                            <td>{{ lst.number }}</td>
                            <td>{{ lst.receipts.all | length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </main>
        </body>
    </html>
