<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <h1>My Receipts</h1>
            <nav>
                <li>
                    <a href="{% url 'create_receipt' %}">Create a receipt</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an account</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">List accounts</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">List categories</a>
                </li>
            </nav>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for list in lists %}
                        <tr>
                            <td>{{ list.vendor }}</td>
                            <td>{{ list.total }}</td>
                            <td>{{ list.tax }}</td>
                            <td>{{ list.date|date:"m/d/y" }}</td>
                            <td>{{ list.category.name }}</td>
                            <td>{{ list.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
